/venv/
/.idea/.gitignore
/.idea/.name
/.idea/dictionaries/lida_.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/.idea/vcs.xml
/.idea/my-telegram-bot.iml
/.idea/inspectionProfiles/Project_Default.xml
/start.bat
